.website_content {
  text-align: center;
  padding: 50px;
  display: block;
}

.text_area-control {
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
}

.error_message {
  color: #ffffff;
  text-align: center;
}
