/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   width: 980px;
   margin: 0 auto;
   background-color: #15202b;
 }

 header {
   background-color: #15202b;
   height: 50px;
   font-size: 1.5rem;
   border-bottom: solid 1px #ffffff;
 }

 ul {
   margin: 0;
   padding: 0;
 }

 li {
   list-style: none;
 }


 .top_menu li {
   float: left;
   width: auto;
 }


.home {
  width: 67px;
  margin: 0;
  float: left;
}
.t_bottom_image {
  width: 45px;
  margin: 0;
  float: left;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
